<% if signed_in? %>
  <div class="container">

    <ol class="feed">
      <%= render_activity(@feed_items) %>
    </ol>

    <%= will_paginate @feed_items %>

    <% else %>
    <h2>Welcome to Rewrittn</h2>
    <p>Not a member? <%= link_to "Sign up", signup_path %></p>
  </div>
<% end %>
