<div class="container">

  <%= render "shared/feed_toggle" %>

  <ol class="reading-list">
    <% @reading_list_items.each do |rewrite| %>
      <%= render partial: "reading_list_item", locals: { rewrite: rewrite } %>
    <% end %>
  </ol>

  <%= will_paginate @reading_list_items %>

</div>
