<li class="feed-item feed-snippet-create" id=<%= activity.trackable_id %>>

  <small class="timestamp"><%= time_ago_in_words(activity.created_at) %> ago</small>
  <p><%= link_to User.find(activity.owner_id).name, User.find(activity.owner_id), class: "username" %> added a snippet</p>
  <p class="snippet"><%= link_to activity.parameters[:snippet_content], snippet_path(activity.trackable_id) %></p>

</li>
