javascript: void((function() {

  function add_snippet() {
    var script = document.createElement("script");
    script.id = "add-snippet-loadJSONP";
    script.type = "text/javascript";
    script.src = "<%= add_snippet_url %>?callback=add_snippet_complete&snippet[source]=" + encodeURI(window.location.href) + "&snippet[content]="+getSelectionHtml();

    document.body.appendChild(script);
  }

  add_snippet();
})());

function getSelectionHtml() {
    var html = "";
    if (typeof window.getSelection != "undefined") {
        var sel = window.getSelection();
        if (sel.rangeCount) {
            var container = document.createElement("div");
            for (var i = 0, len = sel.rangeCount; i < len; ++i) {
                container.appendChild(sel.getRangeAt(i).cloneContents());
            }
            html = container.innerHTML;
        }
    } else if (typeof document.selection != "undefined") {
        if (document.selection.type == "Text") {
            html = document.selection.createRange().htmlText;
        }
    }
    return(html);
}

function add_snippet_complete(data) {
  // TODO: MUST EXTERNALIZE THIS INTO A CSS FILE
  container = document.createElement("div");
  container.id = "add-snippet-bookmarklet-container";
  container.style.background = "#fff";
  container.style.boxShadow = "0 0 3px rgba(0,0,0,0.3)";
  container.style.borderRadius = "3px";
  container.style.color = "#7f5891";
  container.style.fontWeight = "bold";
  container.style.fontSize = "18px";
  container.style.padding = "15px 30px";
  container.style.position = "fixed";
  container.style.right = "30px";
  container.style.top = "30px";
  container.style.zIndex = "9999";

  document.body.appendChild(container);

  if (data.status == "success") {
    // TODO: ADD CLASSES TO THESE ELEMENTS AND PUT STYLES INTO EXTERNAL CSS FILE
    container.innerHTML = "<p>Successfully added your snippet<p><p><a href='" + data.url + "' target='_blank'>view snippet</a></p>";
  }
  else if (data.status == "no-user") {
    // TODO: ADD CLASSES TO THESE ELEMENTS AND PUT STYLES INTO EXTERNAL CSS FILE
    container.innerHTML = "<p>" + data.error + "</p><p><a href='" + data.url + "' target='_blank' style='font-size:16px'>sign in</a></p>";
  }
  else {
    // TODO: ADD CLASSES TO THESE ELEMENTS AND PUT STYLES INTO EXTERNAL CSS FILE
    container.innerHTML = "<p>" + data.error + "</p>";
  }

  var s = document.getElementById("add-snippet-loadJSONP");
  s.parentNode.removeChild(s);
  setTimeout(function(){
    close_container();
  }, 3000);
}

function close_container() {
  addSnippetBookmarkletJs = document.getElementById('add-snippet-bookmarklet-js');
  container.parentNode.removeChild(container);
  addSnippetBookmarkletJs.parentNode.removeChild(addSnippetBookmarkletJs);
}
