<a id="add_snippet_bookmarklet" href="javascript:void((function(){var s = document.createElement('script');s.id = 'add-snippet-bookmarklet-js';s.type = 'text/javascript';s.src = '<%= add_snippet_js_url %>';document.body.appendChild(s);})());">Add snippet</a>
