<h2>Get the bookmarklet</h2>
<a class="bookmarklet" href="javascript: (function() { var jsCode = document.createElement('script'); jsCode.setAttribute('src', 'http://localhost:3000/bookmarklet/add_snippet.js'); document.body.appendChild(jsCode);}());">Add snippet</a>
