<h2>Get the bookmarklet</h2>
<a class="bookmarklet" href="javascript:location.href='http://localhost:3000/add_snippet/?content=Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?&source=http://slipsum.com">Add snippet</a>
