* { box-sizing: border-box; }

// VARIABLES
@container-width: 80%;
@base-text-color: #444;
@base-font-size: 16px;
@base-font-family: sans-serif;
@link-color: purple;


// FLOATS
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  display: block;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 1px;
  visibility: hidden;
}


// LAYOUT
body {
  color: @base-text-color;
  font-family: @base-font-family;
  font-size: @base-font-size;
}

a {
  color: @link-color;
  font-size: inherit;
}

.container {
  margin: 0 auto;
  width: @container-width;
}

.debug {
  background: #eee;
  margin: 20px auto 0;
  padding: 20px;
  width: @container-width;
}
