// FORMS

form {
  margin: 0 auto;
  width: 50%;
}

input,
label {
  display: block;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

textarea {
  min-height: 100px;
}

.btn {
  background: purple;
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.errors {
  border: 1px solid red;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px;
}

.errors ul {
  color: red;
  margin-top: 7px;
}

.errors li {
  margin: 0 0 3px 30px;
  list-style: disc;
}

.field_with_errors input {
  border-color: red;
}


// Snippets
.snippets li {
  margin: 20px 0;
}

.snippets p {
  font-size: 14px;
}

.snippets p:first-child {
  font-size: 24px;
}

.snippets p:first-child:before {
  content: "\201C";
}

.snippets p:first-child:after {
  content: "\201D";
}

.snippets small {
  color: #bbb;
}


// Users
.users li {
  margin-bottom: 20px;
}

.users li:first-child {
  margin-top: 20px;
}
