// FORMS

form {
  margin: 0 auto;
  width: 50%;
}

input,
label {
  display: block;
}

input {
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

.btn {
  background: purple;
  border-radius: 3px;
  border: none;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.errors {
  border: 1px solid red;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px;
}

.errors ul {
  color: red;
  margin-top: 7px;
}

.errors li {
  margin: 0 0 3px 30px;
  list-style: disc;
}

.field_with_errors input {
  border-color: red;
}
