@import url('base.css.less');

.snippet > a {
  display: block;
  text-decoration: none;
}

.snippet {
  color: @dark-gray;
  font-style: normal;
}

.snippet-meta {
  color: @medium-gray;
  display: block;
}
